<div class="container main-container">
    <h4>Cadastro de Usuários</h4>
    <hr />
    <form novalidate (ngSubmit)="adicionarUsuario()" [formGroup]="cadastroForm">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Nome Completo</label>
                <div class="col-md-10">
                    <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)"
                        formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                    <span class="text-danger" *ngIf="displayMessage.nome">
                        <p [innerHTML]="displayMessage.nome"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Data de Nascimento</label>
                <div class="col-md-10">
                    <input class="form-control" id="dataNascimento" type="text"
                        placeholder="Data de Nascimento (requerido)" formControlName="dataNascimento"
                        [ngClass]="{'is-invalid': displayMessage.dataNascimento }" />
                    <span class="text-danger" *ngIf="displayMessage.dataNascimento">
                        <p [innerHTML]="displayMessage.dataNascimento"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">E-mail</label>
                <div class="col-md-10">
                    <input class="form-control" id="email" type="text" placeholder="E-mail" formControlName="email"
                        [ngClass]="{'is-invalid': displayMessage.email }" />
                    <span class="text-danger" *ngIf="displayMessage.email">
                        <p [innerHTML]="displayMessage.email"></p>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Senha</label>
                <div class="col-md-10">
                    <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)"
                        formControlName="senha" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Sexo</label>
                <div class="col-md-10">
                    <select class="form-control custom-select" formControlName="sexo"
                        [ngClass]="{'is-invalid': displayMessage.sexo }">
                        <option *ngFor="let item of sexos" [ngValue]="item.sexoId">
                            {{ item.descricao }}
                        </option>
                    </select>
                    <span class="text-danger" *ngIf="displayMessage.sexo">
                        <p [innerHTML]="displayMessage.sexo"></p>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button class="btn btn-success" id="Registrar" [disabled]="!cadastroForm.valid"
                            type="submit">Cadastrar</button>
                    </div>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button class="btn btn-primary" id="voltar" (click)="goBack()">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>